<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "" %> | Cameras ADMIN</title>
	
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!--[if lt IE 7]><body class="ie ie6"><![endif]-->
<!--[if IE 7]>   <body class="ie ie7"><![endif]-->
<!--[if IE 8]>   <body class="ie ie8"><![endif]-->
<!--[if gt IE 8]><!--><body><!--<![endif]-->

<div class="container">

  <div id="h">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Cameras", "/", :class => "brand" %>
          <div class="nav-collapse">
            <%= navigation_tag class: "nav" do |m| %>
              <%= m.item "카메라", admin_cameras_path, :current => current_controller?(["admin/cameras"]) %>
              <%= m.item "사용자", admin_users_path, :current => current_controller?(["admin/users"]) %>
              <%= m.item "현황", admin_site_notice_index_path, :current => current_controller?(["admin/site_notice"]) %>
            <% end %>
					</div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="c">
    <%= yield %>
  </div>

</div>

</body>
</html>
