<%#= title "Cameras" %>

<ul class="breadcrumb">
  <li class="active">Cameras</li>
</ul>
<h3 class="w100p">Total <%= content_tag :span, Camera.count, :class => "font-important" %> Cameras.</h3>

<%= navigation_tag :class => "nav nav-pills fl" do |m| %>
  <%= m.item "All", admin_cameras_path, :current => params[:company].blank? %>
  <%= m.item "Canon", admin_cameras_path(company: "canon"), :current => params[:company] == "canon" %>
  <%= m.item "Nikon", admin_cameras_path(company: "nikon"), :current => params[:company] == "nikon" %>
  <%= m.item "Pentax", admin_cameras_path(company: "pentax"), :current => params[:company] == "pentax" %>
  <%= m.item "Sony/Minolta", admin_cameras_path(company: "sony/minolta"), :current => params[:company] == "sony/minolta" %>
  <%= m.item "Panasonic", admin_cameras_path(company: "panasonic"), :current => params[:company] == "panasonic" %>
  <%= m.item "Olympus", admin_cameras_path(company: "olympus"), :current => params[:company] == "olympus" %>
  <%= m.item "Samsung", admin_cameras_path(company: "samsung"), :current => params[:company] == "samsung" %>
  <%= m.item "etc.", admin_cameras_path(company: "etc"), :current => params[:company] == "etc" %>
<% end %>

<%= form_tag admin_cameras_path, :method => 'get', :class => "form-search fr" do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder => "name", :class => "search-query w200 ml25" %>
		<%= submit_tag "Search", :name => nil, :class => "btn" %>
  </p>
<% end %>


<table class="table table-condensed table-hover fs12">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name1<br>Name2<br>Name3</th>
      <th>Image</th>
      <th>Company<br>Class<br>Release Date</th>
      <th>SensorPixel<br>SensorType<br>SensorSize</th>
      <th>Processor<br>ISO</th>
      <th>MirrorType<br>ViewFinder<br>Metering</th>
			<th>FPS<br>Shutter<br>Storage<br>Power</th>
      <th>AF Sensor<br>AF Points<br>SR</th>
      <th>LCD<br>LiveView</th>
      <th>Video</th>
      <th>Width<br>Height<br>Depth<br>Weight</th>
      <th>#links<br>#comments<br>status</th>
    </tr>
  </thead>
  <tbody>
		<% @cameras.each do |camera| %>
    <tr>
      <td rowspan="2"><%= camera.id %></td>
      <td rowspan="2">
				<%= link_to(camera.name1, admin_camera_path(camera)) %><br>
				<%= link_to(camera.name2, admin_camera_path(camera)) if camera.name2.present? %><br>
				<%= link_to(camera.name3, admin_camera_path(camera)) if camera.name3.present? %>
			</td>
      <td>
				<%= link_to(image_tag(camera.image_url(:thumb)), admin_camera_path(camera)) if camera.image.present? %>
			</td>
      <td>
				<%= camera.company %> <%= camera.mount %><br>
				<%= camera.class_range %><br>
				<%= camera.release_date.strftime("%Y/%m") %>
			</td>
      <td>	
				<%= camera.sensor_pixel.present? ? "#{camera.sensor_pixel.to_f/100}M" : "" %><br>
				<%= camera.sensor_type %><br>
				<%= camera.sensor_size %>
			</td>
			<td>
				<%= camera.image_processor %><br>
				<%= camera.iso_low.present? ? camera.iso_low : "?" %> ~ 
				<%= camera.iso_high.present? ? camera.iso_high : "?" %>
			</td>
      <td>
				<%= camera.mirror_type %><br>
				<%= camera.finder_coverage.present? ? "#{camera.finder_coverage}%, " : "" %>
				<%= camera.finder_magnify.present? ? "#{camera.finder_magnify}X" : "" %><br>
				<%= camera.metering %>
			</td>
      <td>
				<%= camera.fps.present? ? "#{camera.fps}fps" : "" %><br>
				1/<%= camera.shutter_speed %>sec<br>
				<%= camera.storage %><br>
				<%= camera.power %>
			</td>
      <td>
				<%= camera.af_sensor %><br>
				<%= camera.af_points_total.present? ? "#{camera.af_points_total}p" : "" %>
				<%= camera.af_points_cross.present? ? ", #{camera.af_points_cross}cross" : "" %><br>
				<%= camera.shake_reduction == true ? "YES" : "" %>
			</td>
      <td>
				<%= camera.lcd_size.present? ? "LCD #{camera.lcd_size}\"" : "NO LCD" %><br>
				<%= camera.lcd_pixel.present? ? "#{camera.lcd_pixel/1000}K" : "" %>
				<%= camera.lcd_type unless camera.lcd_type == "normal" %><br>
				<%= camera.liveview == true ? "YES" : "-" %>
			</td>
      <td>
				<%= camera.v1080fps.present? ? "1080@#{camera.v1080fps}" : "" %><%= camera.v1080scan.present? ?
					camera.v1080scan[0] : "" %><br>
				<%= camera.v720fps.present? ? "720@#{camera.v720fps}" : "" %><%= camera.v720scan.present? ?
						camera.v720scan[0] : "" %><br>
				<%= camera.video_format %>
			</td>
			<td>
				W<%= number_with_precision(camera.d_width, :precision => 1, :strip_insignificant_zeros => true) %><br>
				H<%= number_with_precision(camera.d_height, :precision => 1, :strip_insignificant_zeros => true) %><br>
				D<%= number_with_precision(camera.d_depth, :precision => 1, :strip_insignificant_zeros => true) %><br>
				<%= number_with_precision(camera.weight, :precision => 1, :strip_insignificant_zeros => true) %>g
			</td>
      <td>
				<%#= camera.comments_count %>
				<%= camera.links_count %>
				<% if camera.status == "pending" %> 
					<span class="fcr">Need Data Confirm</span><br>
				<% else %>
					<%= camera.status %>
				<% end %>
			</td>
      <td rowspan="2">
        <%= link_to 'Edit', edit_admin_camera_path(camera), :class => "btn btn-mini btn-warning" %>
        <%= link_to 'Delete', admin_camera_path(camera), :method => :delete, :confirm => 'Sure?', :class => "btn btn-mini btn-danger" %>
      </td>
    </tr>
		<tr>
			<td colspan="11">
				<%= camera.more_info %>
				<% camera.links.each do |link| %>
					<% link.name.present? %>
						<% if link.name == "DPReview" %>
							<span><%= link_to "DPR", link.url %></span>
						<% elsif link.name == "Wikipedia" %>
							<span><%= link_to "Wikip", link.url %></span>
						<% else %>
							<span><%= link_to "etc", link.url %></span>
						<% end %>
					<% end %>
		    <% end %>
			</td>
		</tr>
  </tbody>
</table>

<%= paginate @cameras, :theme => 'twitter-bootstrap' %>

<div class="toolbox">
  <div class="pull-right mb10">
    <%= link_to new_admin_camera_path, :class => "btn btn-success" do %>
      <i class="icon-plus icon-white"></i> Add New Camera
    <% end %>
  </div>
</div>

