<%= paginate @comments, :theme => 'twitter-bootstrap' %>
<ul>
	<% @comments.each do |comment| %>
		<li class="comment <%= "admin" if comment.user.role == "admin" %>">
			<div class="top">
				<div class="user">
					<span class="name <%= "admin" if comment.user.role == "admin" %>"><%= comment.user.name %></span><span class="ip">[<%= ipfilter(comment.user_ip) %>]</span><span class="divider">|</span><span class="time"><%= time_ago_in_words(comment.created_at) %> 전</span>
				</div>
				<div class="control">
					<%= link_to("삭제", comment_path(comment), :method => :delete, :confirm => 'Sure?') if comment.user == current_user %>
				</div>
			</div>
			<div class="body"><%= comment.body.gsub(/\n/, '<br/>').html_safe %></div>
		</li>
	<% end %>
</ul>
<%= paginate @comments, :theme => 'twitter-bootstrap' %>
