<div class="header">
	<h1>[ 1995-2013 DSLR족보 ]</h1>
	<p>http://cameras.miriya.net</p>
	<p>마지막 업데이트 / 내용 추가 : <%= Camera.order('updated_at DESC').first.updated_at.strftime("%Y. %m. %d") %>, 약 <%= distance_of_time_in_words(Camera.order('updated_at DESC').first.updated_at, Time.now, false) %>전</p>
	<p>이 페이지는 현재 지속적으로 개선이 진행중입니다.<br>문의사항, 수정사항, <span class="ul">찬양할 점</span>이 있으면 아래에 댓글로 남겨주세요.</p>
	<table class="mac">
		<tr>
			<td>
				<ul>
					<strong>현재 진척 상황</strong>
					<li><%= nl2li(SiteNotice.last.worked) %></li>
				</ul>
			</td>
			<td>
				<ul>
					<strong>조만간 할 일</strong>
					<li><%= nl2li(SiteNotice.last.todo) %></li>
				</ul>
			</td>
		</tr>
	</table>
	<hr class="dashed">
	<p class="camera_count">Total <%= Camera.of_running.count %> / <%= Camera.count %> Cameras</p>
	<div class="company">
		<%= navigation_tag :class => "nav nav-pills fl" do |m| %>
		  <%= m.item "All", root_path, :current => params[:company].blank? %>
		  <%= m.item "Canon", root_path(company: "canon"), :current => params[:company] == "canon", :count => true %>
		  <%= m.item "Nikon", root_path(company: "nikon"), :current => params[:company] == "nikon", :count => true %>
		  <%= m.item "Pentax", root_path(company: "pentax"), :current => params[:company] == "pentax", :count => true %>
		  <%= m.item "Sony/Minolta", root_path(company: "sony/minolta"), :current => params[:company] == "sony/minolta", :count => true %>
		  <%= m.item "Panasonic", root_path(company: "panasonic"), :current => params[:company] == "panasonic", :count => true %>
		  <%= m.item "Olympus", root_path(company: "olympus"), :current => params[:company] == "olympus", :count => true %>
		  <%= m.item "Samsung", root_path(company: "samsung"), :current => params[:company] == "samsung", :count => true %>
		  <%= m.item "etc.", root_path(company: "etc"), :current => params[:company] == "etc", :count => true %>
		<% end %>
	</div>
</div>

<div id="cameras">
	<%= render :partial => 'cameras' %>
</div>

<div id="comments">
	<%= render :partial => 'comments' %>
</div>

<div id="footer" class="clearfix">
	<%= render :partial => 'footer' %>
</div>
