<div class="header">
	<h1>[ 1991-2013 DSLR족보 ]</h1>
	<p>http://cameras.miriya.net</p>
	<p>모든 렌즈 교환식 카메라를 모아봤습니다. 다만 디지털백과 비디오 전용은 제외합니다.</p>
	<p>마지막 업데이트 / 내용 추가 : <%= Camera.order('updated_at DESC').first.updated_at.strftime("%Y. %m. %d") %>, <%= distance_of_time_in_words(Camera.order('updated_at DESC').first.updated_at, Time.now, false) %> 전</p>
	<p>이 페이지는 현재 지속적으로 개선이 진행중입니다.<br>문의사항, 수정사항, <span class="ul">찬양할 점</span>이 있으면 아래에 댓글로 남겨주세요.</p>
	<table class="mac">
		<tr>
			<td class="vat">
				<ul>
					<strong>현재 진척 상황</strong>
					<li><%= nl2li(SiteNotice.last.worked) %></li>
				</ul>
			</td>
			<td class="vat">
				<ul>
					<strong>조만간 할 일</strong>
					<li><%= nl2li(SiteNotice.last.todo) %></li>
				</ul>
			</td>
		</tr>
	</table>
	<hr class="dashed">
	<p class="camera_count">Total <%= Camera.of_running.count %> / <%= Camera.of_showing.count %> Cameras</p>
	<div class="company">
		<%= navigation_tag :class => "nav nav-pills fl" do |m| %>
		  <%= m.item "전체", root_path, :current => params[:company].blank? %>
		  <%= m.item "캐논", root_path(company: "canon"), :current => params[:company] == "canon" %>
		  <%= m.item "니콘", root_path(company: "nikon"), :current => params[:company] == "nikon" %>
		  <%= m.item "소니/미놀타", root_path(company: "sony/minolta"), :current => params[:company] == "sony/minolta" %>
		  <%= m.item "올림푸스", root_path(company: "olympus"), :current => params[:company] == "olympus" %>
		  <%= m.item "펜탁스", root_path(company: "pentax"), :current => params[:company] == "pentax" %>
		  <%= m.item "코닥", root_path(company: "kodak"), :current => params[:company] == "kodak" %>
		  <%= m.item "파나소닉", root_path(company: "panasonic"), :current => params[:company] == "panasonic" %>
		  <%= m.item "삼성", root_path(company: "samsung"), :current => params[:company] == "samsung" %>
		  <%= m.item "후지필름", root_path(company: "fujifilm"), :current => params[:company] == "fujifilm" %>
		  <%= m.item "기타", root_path(company: "etc"), :current => params[:company] == "etc" %>
		<% end %>
	</div>
</div>

<div id="cameras">
	<%= render :partial => 'cameras' %>
</div>

<div id="comments">
	<%= render :partial => 'comments' %>
</div>

<div id="footer" class="clearfix">
	<%= render :partial => 'footer' %>
</div>
