<div class="header">
	<h1>[ 1995-2013 DSLR족보 ]</h1>
	<p>http://cameras.miriya.net</p>
	<p>2013. 04. 04 / v2.2.2</p>
	<p>이 페이지는 현재 지속적으로 개선이 진행중입니다.<br>문의사항, 수정사항, <span class="ul">찬양할 점</span>이 있으면 아래에 댓글로 남겨주세요.</p>
	<table class="mac">
		<tr>
			<td>
				<ul>
					<strong>현재 진척 상황</strong>
					<li>- 미놀타/소니 : 전기종 입력 완료</li>
					<li>- 캐논/파나/올림/라이카/시그마/후지/코닥/삼성 전기종 위치 표기 완료, 이미지 업로드 완료</li>
					<li>- 니콘/펜탁스 : 전기종 위치 표시, 이름 표시 완료</li>
				</ul>
			</td>
			<td>
				<ul>
					<strong>조만간 할 일</strong>
					<li>- 댓글에 페이징, 공지 기능 추가</li>
				</ul>
			</td>
		</tr>
	</table>
	<hr class="dashed">
	<p class="camera_count">Total <%= Camera.of_running.count %> / <%= Camera.count %> Cameras</p>
	<div class="company">
		<%= navigation_tag :class => "nav nav-pills fl" do |m| %>
		  <%= m.item "All", root_path, :current => params[:company].blank? %>
		  <%= m.item "Canon", root_path(company: "canon"), :current => params[:company] == "canon", :count => true %>
		  <%= m.item "Nikon", root_path(company: "nikon"), :current => params[:company] == "nikon", :count => true %>
		  <%= m.item "Pentax", root_path(company: "pentax"), :current => params[:company] == "pentax", :count => true %>
		  <%= m.item "Sony/Minolta", root_path(company: "sony/minolta"), :current => params[:company] == "sony/minolta", :count => true %>
		  <%= m.item "Panasonic", root_path(company: "panasonic"), :current => params[:company] == "panasonic", :count => true %>
		  <%= m.item "Olympus", root_path(company: "olympus"), :current => params[:company] == "olympus", :count => true %>
		  <%= m.item "Samsung", root_path(company: "samsung"), :current => params[:company] == "samsung", :count => true %>
		  <%= m.item "etc.", root_path(company: "etc"), :current => params[:company] == "etc", :count => true %>
		<% end %>
	</div>
</div>

<div id="cameras">
	<%= render :partial => 'cameras' %>
</div>

<div id="comments">
	<%= render :partial => 'comments' %>
</div>

<div id="footer" class="clearfix">
	<%= render :partial => 'footer' %>
</div>
