<div class="header">
	<h1>[ 1995-2013 DSLR족보 ]</h1>
	<p>http://www.miriya.net</p>
	<p>2013. 02. 25</p>
	<p>v2.0</p>
</div>


<% @cameras.each do |year, cameras| %>
	<div class="year_group">
		<p class="year"><%= year %></p>
		<hr>
		<% cameras.each do |camera| %>
			<div class="item">
				<%= image_tag camera.image_url(:normal) %>
				<%= camera.name1 %>/<%= camera.name2 %>/<%= camera.name3 %>
			</div>
		<% end %>
	</div>
<% end %>
